<header class="header">
  <div class="header-title">
    <h1>Curated Artwork.</h1>
    <button class="arrow-button">
      <span class="arrow-icon">→</span>
    </button>
  </div>
  <div class="header-info">
    <span>
      We are laying the groundwork for web3 — the next generation of the
      internet full of limitless possibilities.
    </span>
    <button class="header-research button">
      <span>Start your research</span>
      <img
        [src]="'assets/icons/header-research-button.svg'"
        alt="research-button"
      />
    </button>
  </div>
</header>
<app-artwork-feature></app-artwork-feature>
