<section class="footer">
  <div class="footer__wrapper">
    <div class="footer__upper">
      <figure class="footer__logo">
        <div class="image">
          <img src="../../assets/icons/logo.svg" alt="logo" />
          <span>Crypter</span>
        </div>
        <figcaption>Empower your creativity</figcaption>
      </figure>
      <nav class="footer__nav">
        <div class="footer__links">
          <h2 class="footer__links__title">Company</h2>
          <ul class="footer__links__list">
            <li class="footer__links__item">
              <a href="#" class="footer__link">Download</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Help center</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Blog</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Jobs</a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <h2 class="footer__links__title">Crypter</h2>
          <ul class="footer__links__list">
            <li class="footer__links__item">
              <a href="#" class="footer__link">Explorer</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Upload</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Connect wallet</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">How it work</a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <h2 class="footer__links__title">Social</h2>
          <ul class="footer__links__list">
            <li class="footer__links__item">
              <a href="#" class="footer__link">Instagram</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Twitter</a>
            </li>
            <li class="footer__links__item">
              <a href="#" class="footer__link">Facebook</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="footer__terms">
      <div class="footer__terms-item">
        <span>Copyright © 2024 UI8 LLC. All rights reserved</span>
      </div>
      <div class="footer__terms-item">
        <span>We use cookies for better service</span>
      </div>
    </div>
  </div>
</section>
