<footer>
  <section class="footer-info">
    <figure class="footer-info-logo">
      <div class="image">
        <img src="../../assets/icons/logo.svg" alt="logo" />
        <span>Crypter</span>
      </div>
      <figcaption>Empower your creativity</figcaption>
    </figure>
    <nav class="footer-info-links">
      <nav class="footer-links">
        <h2 class="footer-links-title">CRYPTER</h2>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="">Explorer</a>
          </li>
          <li class="links-list-item">
            <a href="">Connect wallet</a>
          </li>
          <li class="links-list-item">
            <a href="">Upload</a>
          </li>
          <li class="links-list-item">
            <a href="">How it works</a>
          </li>
        </ul>
      </nav>
      <nav class="footer-links">
        <h2 class="footer-links-title">INFO</h2>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="">Download</a>
          </li>
          <li class="links-list-item">
            <a href="">Help center</a>
          </li>
          <li class="links-list-item">
            <a href="">Blog</a>
          </li>
          <li class="links-list-item">
            <a href="">Jobs</a>
          </li>
        </ul>
      </nav>
      <nav class="footer-links">
        <h2 class="footer-links-title">SOCIAL</h2>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="">Instagram</a>
          </li>
          <li class="links-list-item">
            <a href="">Twitter</a>
          </li>
          <li class="links-list-item">
            <a href="">Facebook</a>
          </li>
        </ul>
      </nav>
    </nav>
  </section>

  <div class="footer-terms">
    <div class="footer-terms-item">
      <span>Copyright © 2024 UI8 LLC. All rights reserved </span>
    </div>
    <div class="footer-terms-item">
      <span>We use cookies for better service</span>

      <button class="footer-terms-button">
        <span>Accept</span>
      </button>
    </div>
  </div>
</footer>
