<section class="artwork-feature">
  <article *ngFor="let artwork of artworkData" class="collection">
    <figure class="collection-image">
      <img [src]="artwork.image" alt="Artwork image" />
    </figure>
    <div class="collection-box">
      <div class="collection-info">
        <header class="collection-info__title">
          <h4>Collection</h4>
          <p>
            <img
              [src]="'assets/icons/header-research-button.svg'"
              alt="research-button"
            />
            {{ artwork.collection }}
          </p>
        </header>
        <header class="collection-info__title">
          <h4>Buy Now</h4>
          <p>
            <img
              [src]="'assets/icons/header-research-button.svg'"
              alt="research-button"
            />{{ artwork.price.buyNow }}
            {{ artwork.price.currency }}
          </p>
        </header>
        <header class="collection-info__title">
          <h4>Reserve</h4>
          <p>
            <img
              [src]="'assets/icons/header-research-button.svg'"
              alt="research-button"
            />{{ artwork.price.reserve }} {{ artwork.price.currency }}
          </p>
        </header>
      </div>
    </div>
  </article>
</section>
