@import "src/assets/variables.scss";

.artwork-feature {
    margin: 64px 0;
    padding: 0;

    width: 100%;
    height: auto;

    .collection {
        display: flex;
        flex-direction: row;

        .collection-image {
            max-width: 50rem;
            max-height: 50rem;

            img {
                width: 800px;
                height: auto;
                object-fit: cover;
            }
        }

        .collection-box {
            background-color: $color-very-light-gray;
            width: 50vw;
        }

        .collection-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            max-width: 640px;
            height: 92px;
            margin: 4rem;
            padding: 1rem 1.5rem;

            background-color: $color-white;
            border-radius: 1.875rem;

            &__title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;

                img {
                    width: 18px;
                    height: 18px;
                    object-fit: cover;
                }

                h4 {
                    font-family: $font-inter;
                    font-size: $font-size-body1;
                    font-weight: $font-weight-bold;
                    line-height: $line-height-normal;
                    color: $color-light-gray;
                }

                p {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 0.6rem;

                    font-family: $font-inter;
                    font-size: $font-size-h4;
                    font-weight: $font-weight-bold;
                    line-height: $line-height-normal;
                    color: $color-black;
                }
            }
        }
    }
}
