<nav class="navbar">
  <div class="navbar-info">
    <div class="navbar-brand">
      <a routerLink="/">
        <img [src]="'assets/icons/logo.svg'" alt="Crypter Logo" />
        <span class="navbar-brand__title">Crypter</span>
      </a>
    </div>
    <div class="navbar-search">
      <input
        type="text"
        class="navbar-input search-icon"
        (input)="checkInput($event)"
      />
    </div>
  </div>
  <div class="navbar-links">
    <a routerLink="/discover">Discover</a>
    <a routerLink="/feed">Feed</a>
    <button class="connect-wallet button" (click)="goToWalletPage()">
      Connect Wallet
    </button>
    <div class="navbar__userbox">
      <div class="navbar__userbox__notification">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.9072 9.32788H14.818C14.4193 9.32788 14.0207 9.02927 14.0207 8.53158V3.057C14.0207 2.16116 12.9246 1.66347 12.227 2.2607L5.35102 11.7168C4.65346 12.4136 5.05207 13.608 6.04859 13.608H9.63605C10.0347 13.608 10.4333 13.9066 10.4333 14.4043V19.8789C10.4333 20.8743 11.5294 21.372 12.227 20.6752L18.6047 11.3186C19.4019 10.5223 18.9037 9.32788 17.9072 9.32788Z"
            stroke="#010101"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="navbar__userbox__user">
        <button class="navbar__dropdown" (click)="toggleDropdown()">
          <img
            src="../../assets/images/avatars/avatar-image-1 .svg"
            alt="avatar"
          />
        </button>
      </div>
    </div>
    <button class="menu button">
      <img [src]="'assets/icons/menu.svg'" alt="Menu" />
    </button>
  </div>
  <!-- <div class="navbar__dropdown__content" *ngIf="dropdownOpen">
    <app-dropdown></app-dropdown>
  </div> -->
</nav>

<div class="navbar-dropdown-content dropdown" *ngIf="dropdownOpen">
  <div class="dropdown-header">
    <img
      src="../../assets/images/avatars/avatar-image-1.svg"
      alt="user avatar"
      class="user-avatar"
    />
    <div class="dropdown-header__user-info">
      <h2>Dash</h2>
      <p>@randomdash</p>
    </div>
    <button (click)="toggleDropdown()" class="close-btn">X</button>
  </div>
  <div class="wallet-container">
    <div class="wallet-info">
      <div class="wallet-address">
        <span>{{ walletInfo.address }}</span>
        <span
          class="status-indicator"
          [class.connected]="walletIsConnected"
        ></span>
      </div>
      <div class="wallet-address__currency">
        <span class="wallet-address__currency--balance"
          >{{ walletInfo.balanceETH }} ETH</span
        >
        <span class="wallet-address__currency--usd"
          >$ {{ walletInfo.balanceUSD }}</span
        >
      </div>
    </div>
    <div class="wallet-actions">
      <h3>Connected wallet</h3>
      <button (click)="manageWallet()">Manage wallet</button>
      <button (click)="disconnectWallet()">Disconnect</button>
    </div>
  </div>
  <ul class="dropdown-menu">
    <li>My profile</li>
    <li>Settings</li>
    <li>Help</li>
  </ul>
</div>
