@import "../../assets/variables";

.newsletter {
    .newsletter-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__info {
        width: 100%;
        max-width: 50vw;
        background-color: #dbff73;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 250px;
    }

    &__title {
        max-width: 440px;
        padding: 5rem;
        h1 {
            //styleName: h2/L;
            font-family: Inter;
            font-size: 64px;
            font-weight: 800;
            line-height: 64px;
            letter-spacing: -0.02em;
            text-align: left;
        }
    }

    &__controll {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.3rem;

        &__text {
            //styleName: Body 2/L;
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.02em;
            text-align: left;
        }

        &__buttons {
            width: 100%;
            display: flex;
            gap: 1rem;

            .btn {
                width: 100%;
                max-width: 200px;
                height: 60px;
                background-color: $color-dark-gray;
                color: $color-white;
                border: none;
                border-radius: 8px;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.02em;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $color-black;
                }
            }
        }
    }

    &__download {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: $color-white;

        &__title {
            h3 {
                font-size: 24px;
                font-family: $font-inter;
                font-weight: $font-weight-bold;
                line-height: 24px;
                color: $color-light-gray;
            }
        }

        &__box {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .download--btn {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 1rem;
                width: 100%;
                max-width: 230px;
                padding: 18px 36px 18px 36px;

                background: $color-dark-gray;
                color: $color-white;
                border: none;
                border-radius: 6px;
                cursor: pointer;

                transition: 0.2s;

                span {
                    //styleName: BUTTON/L;
                    font-family: $font-inter;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 800;
                    line-height: 24px;
                    letter-spacing: 0.17em;
                    text-align: left;
                }

                &:hover {
                    background: $color-white;
                    color: $color-dark-gray;

                    .svg-path {
                        stroke: $color-dark-gray;
                    }
                }
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 50vw;
        background-color: $color-dark-gray;
        color: $color-white;
        padding: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                color: $color-light-gray;
                //styleName: Body 2/L;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.02em;
                text-align: left;
            }

            &__content {
                display: flex;
                gap: 2rem;
            }

            &--field {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;

                input {
                    width: 100%;
                    padding-right: 40px;
                    height: 56px;

                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $color-gray;
                    background: none;

                    color: $color-white;

                    &::placeholder {
                        // Use & to correctly target the placeholder pseudo-element
                        color: $color-gray; // Adjusted for better visibility, assuming $color-white is not visible on a transparent background
                    }

                    &:focus {
                        // Correctly target the focus state
                        border-bottom: 1px solid #dbff73; // Example: Change border color on focus for clear indication
                        color: #dbff73; // Ensure text color changes on focus if needed
                        background-color: rgba(
                            0,
                            0,
                            0,
                            0.1
                        ); // Optional: Add a slight background color on focus for better visibility
                    }
                }

                .icon {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            max-width: 250px;

            margin-top: 58px;
            //styleName: BUTTON/L;
            font-family: Inter;
            font-size: 12px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-align: center;
            border-radius: 4px;
            background-color: $color-white;
            color: $color-black;
            padding: 18px 36px;

            transition: 0.2s ease-in-out;

            &:hover {
                background-color: $color-gray;
                color: $color-white;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .newsletter {
        .newsletter-wrapper {
            flex-direction: column;
        }

        &__info {
            padding: 0;
            gap: 88px;
            max-width: 100vw;
        }

        &__title {
            padding: 2rem 1.5rem;
            h1 {
                font-size: 32px;
                line-height: 48px;
            }
        }

        &__controll {
            padding: 2rem 1.5rem;
        }

        &__download {
            flex-direction: column;

            &__box {
                flex-direction: column;

                .download--btn {
                    gap: 0.5rem;
                    padding: 18px;
                    max-width: none;

                    span {
                        font-size: 10px;
                    }
                }
            }
        }

        &__content {
            max-width: 100vw;
            padding: 0;

            .form {
                padding: 2rem 1.5rem;
                h2 {
                    font-size: 16px;
                    line-height: 24px;
                }

                &__content {
                    flex-direction: column;
                }

                &--field {
                    input {
                        height: 48px;
                    }
                }
            }

            .submit {
                padding: 18px 36px;
            }
        }
    }
}
