<div class="help-category">
  <app-navbar></app-navbar>
  <div class="help-category__wrapper">
    <div class="help-category__header">
      <div class="help-category__header__wrapper">
        <div class="help-category__header__info">
          <h1 class="help-category__title">Gettings started on Crypter</h1>
          <button (click)="returnToHelp()">&larr;</button>
        </div>
        <div class="help-category__header__image">
          <img
            src="../../../assets/images/help-center/Cube 1 1 (1).svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="help-category__content">
      <div class="help-category__content__wrapper">
        <form class="search-form">
          <input
            type="text"
            placeholder="Search topics"
            aria-label="Search topics"
          />
          <button type="submit" aria-label="Search">
            <img
              src="../../../assets/icons/search.svg"
              alt="search"
              class="search-icon"
            />
          </button>
        </form>

        <div
          class="accordions"
          *ngFor="let helpData of helpCategoriesData; let i = index"
        >
          <div class="accordions__item" (click)="toggleAccordion(i)">
            <div class="accordions__item__title">
              <span> {{ helpData.name }}</span>
            </div>
            <button class="accordions__item__button-round">
              {{ isToggled ? "-" : "+" }}
            </button>
          </div>
          <div
            class="accordions__content"
            *ngFor="let helpDataItems of helpData.items"
            [class.hidden]="isItemActive !== i"
          >
            <div class="accordions__content__icon"></div>
            <div class="accordions__content__text">
              {{ helpDataItems.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
