<div class="user-profile">
  <h2 class="user-profile__h2">Information</h2>
  <div class="user-profile__field">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="user.email"
      placeholder="Your email"
    />
  </div>

  <div class="user-profile__field">
    <label for="displayName">Display Name</label>
    <input
      id="displayName"
      type="text"
      [(ngModel)]="user.displayName"
      placeholder="Your display name"
    />
  </div>

  <div class="user-profile__field">
    <label for="about">About You</label>
    <textarea
      id="about"
      [(ngModel)]="user.about"
      placeholder="About you"
    ></textarea>
  </div>
</div>
