<section class="activity">
  <div class="activity__box">
    <div class="activity__title">
      <h2>1 Offer</h2>
    </div>
    <div class="transaction-card">
      <div class="transaction-card__user border">
        <img
          src="../../../../assets/images/avatars/avatar-image-1.svg"
          alt="User Avatar"
          class="transaction-card__avatar"
        />
        <div class="transaction-card__details">
          <span class="transaction-card__username">
            <p>Recieved from</p>
            <strong>@randomdash</strong>
          </span>
          <span class="transaction-card__hash">x456...8jh7</span>
        </div>
      </div>
      <div class="transaction-card__offer border">
        <label class="transaction-card__label">Offer price</label>
        <div class="transaction-card__price">
          <span>1.00</span>
          <span>ETH</span>
        </div>
      </div>
      <div class="transaction-card__fees border">
        <div class="transaction-card__fee">
          <label class="transaction-card__label">Cryptr fee</label>
          <div>0.0055 ETH</div>
        </div>
        <div class="transaction-card__total">
          <label class="transaction-card__label">Total receive</label>
          <div>0.9945 ETH</div>
        </div>
      </div>
      <button class="transaction-card__button">ACCEPT OFFER</button>
    </div>
  </div>
  <div class="activity__card">
    <div class="nft-card">
      <div class="nft-card__image">
        <img
          src="../../../../assets/images/nft-created/nft-created-2.jpg"
          alt="Escape"
        />
      </div>
      <div class="nft-card__info">
        <div class="nft-card__info__content">
          <div class="nft-card__title">Escape</div>
          <div class="nft-card__timer">
            <span class="nft-card__time">23h</span>
            <span class="nft-card__time">40m</span>
          </div>
        </div>
        <div class="nft-card__meta">
          <img
            src="../../../../assets/images/nft-created/nft-created-1.png"
            alt="Cute Planet"
            class="nft-card__icon"
          />
          <div class="nft-card__collection">
            <span class="nft-card__collection__name">Cute Planet</span>
            <span class="nft-card__collection__count">12 NFTs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
